* {
    font-family: 'roboto', sans-serif;
    margin: 0;
}

/* font */
$font-family-shrikhand: 'shrikhand', serif;

/* color */
$main-bg-color: #FFFFFF;
$bg-color-grey: #F6F6F6;
$bg-color-grey-2: #EAEAEA;
$btn-color: #FF79DA;
$badge-color: #99E2D0;

/* font-size */
$font-size-badge: 14px;
$font-size-17px: 17px;
$font-size-18px: 18px;

$font-weight-300: 300;
$font-weight-500: 500;

/* Mixin */

@mixin title-h1-shrikhand {
    font-size: 28px;
    font-family: $font-family-shrikhand;
}

@mixin weight-size-300 ($font-size) {
    font-size: $font-size;
    font-weight: $font-weight-300;
}

@mixin btn-explorer-command($width, $height) {
    width: $width;
    height: $height;
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 16px;
    font-weight: $font-weight-500;
    color: $main-bg-color;
    padding: 13px 18px;
    background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
    &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    }
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 767px;
    box-sizing: border-box;
    width: 100%;
}

.header {
    text-align: center;
    &__logo {
        width: 200px;
        padding: 14px 0;
    }
    &__location {
        display: flex;
        justify-content: center;
        gap: 17px;
        background-color: $bg-color-grey-2;
        padding: 15px 0;
    }
}

.btn-heart {
    &__checkbox {
        display: none;
        &:checked + .btn-heart__container .btn-heart__container--first {
            opacity: 0;
        }
        &:checked + .btn-heart__container .btn-heart__container--second {
            opacity: 1;
        }
    }
    &__container {
        &--first {
            position: relative;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: opacity 100ms;
        }
        &--second { 
            position: relative;/*  */
            background: -webkit-linear-gradient(red, orange);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: opacity 1000ms cubic-bezier(.03,.99,1,.58);
            opacity: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}