* {
    font-family: 'roboto', sans-serif;
    margin: 0;
}

/* font */
$font-family-shrikhand: 'shrikhand', serif;

/* color */
$main-bg-color: #FFFFFF;
$bg-color-grey: #F6F6F6;
$bg-color-grey-2: #EAEAEA;
$bg-color-footer: #353535;
$btn-color: #FF79DA;
$badge-color: #99E2D0;
$badge-color-text: #008766;

/* font-size */
$font-size-badge: 14px;
$font-size-17px: 17px;
$font-size-15px: 15px;
$font-size-18px: 18px;

$font-weight-300: 300;
$font-weight-500: 500;

/* Mixin */

@mixin title-h1-shrikhand {
    font-size: 28px;
    font-family: $font-family-shrikhand;
}

@mixin weight-size ($font-weight, $font-size) {
    font-weight: $font-weight;
    font-size: $font-size;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin btn-explorer-command($width, $height) {
    position: relative;
    width: $width;
    height: $height;
    border-radius: 25px;
    z-index: 1;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 16px;
    font-weight: $font-weight-500;
    color: $main-bg-color;
    padding: 13px 18px;
    background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 300ms ease-in-out;
        border-radius: 25px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    }
}

@mixin badge {
    content: "Nouveau";
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 7px 12px 6px 12px;
    @include weight-size($font-weight-500, 14px);
    color: $badge-color-text;
    background-color: $badge-color;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

@mixin media-query-size ($breakpoint) {
    @if $breakpoint == tablet {
        @media screen and (min-width: 768px) {
            @content;
        }
    }
    @else if $breakpoint == desktop {
        @media screen and (min-width: 1024px) {
            @content;
        }
    }
    @else if $breakpoint == large-desktop {
        @media screen and (min-width: 1440px) {
            @content;
        }
    }
}

@keyframes loader-background {
    0% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes loader-ball-rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(360deg) scale(1.30);
    }
    100% {
        transform: rotate(720deg) scale(1);
    }
}

@keyframes loader-ball-center {
    0% {
        position: absolute;
    }
    50% {
        left: 12px;
        top: 12px;
        opacity: 0.5;
        position: absolute;
    }
    100% {
        position: absolute;
    }
}


.loader {
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    animation: loader-background 3000ms ease-in 1 forwards;
    &__container {
        position: absolute;
        height: 43px;
        width: 43px;
        top: 50%;
        left: 50%;
        animation: loader-ball-rotate 1500ms ease-in-out 2;
        .ball {
            position: absolute;
            z-index: 1;
            height: 19px;
            width: 19px;
            border-radius: 100%;
            background-color: #9356DC;
            animation: loader-ball-center 1500ms ease-in-out 2;
            &.ball-1 {
                top: 0;
                left: 0;
            }
            &.ball-2 {
                top: 0;
                left: 23px;
            }
            &.ball-3 {
                top: 23px;
                left: 0;
            }
            &.ball-4 {
                left: 23px;
                top: 23px;
            }
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 1440px;
    box-sizing: border-box;
    width: 100%;
}

.header {
    @include flex-column;
    align-items: center;
    &__logo {
        width: 200px;
        padding: 14px 0;
    }
    &__location {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 17px;
        background-color: $bg-color-grey-2;
        padding: 15px 0;
        p, i {
            color: #353535;
        }
    }
}
.footer {
    @include flex-column;
    gap: 16px;
    padding: 22px 25px;
    background-color: $bg-color-footer;
    color: $main-bg-color;
    width: 100%;
    box-sizing: border-box;
    @include media-query-size(desktop) {
        flex-direction: row-reverse;
        align-items: end;
        padding: 56px 60px 30px 25px;
    }
    &__title {
        @include title-h1-shrikhand;
        font-size: $font-size-18px;
    }
    &__content {
        @include flex-column;
        gap: 7px;
        @include media-query-size(tablet) {
            flex-direction: row;
            gap: 40px;
        }
        @include media-query-size(desktop) {
            margin-right: 83px;
        }
        .container-about {
            @include flex-column;
            gap: 8px;
            .fa-utensils {
                margin-right: 11px;
                width: 11px;
                height: 13px;
            }
            .fa-handshake-angle {
                margin-right: 10.08px;
                width: 11.918px;
                height: 13px
            }
            @include media-query-size(desktop) {
                flex-direction: row;
            }
        }
    }
}

.btn-heart {
    @include flex-row;
    position: relative;
    width: 23px;
    height: 22px;
    min-width: 22px;
    align-items: center;
    &__checkbox {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        &:checked + .btn-heart__container .btn-heart__container--first {
            opacity: 0;
            & + .btn-heart__container--second {
                opacity: 1;
            }
        }
        @include media-query-size(desktop) {
            &:hover + .btn-heart__container .btn-heart__container--first {
                opacity: 0;
                & + .btn-heart__container--second {
                    opacity: 1;
                }
            }
            &:not(:hover) + .btn-heart__container .btn-heart__container--first {
                opacity: 1;
                & + .btn-heart__container--second {
                    opacity: 0;
                }
            }
        }
    }
    &__container {
        .fa-heart{
            font-size: 22px;
        }
        &--first {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: opacity 100ms;
        }
        &--second { 
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(#9356DC, $btn-color);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: opacity 1000ms cubic-bezier(.03,.99,1,.58);
            opacity: 0;
        }
    }
}
