@import 'main.scss';

$animation-duration: 2000ms;
$delay-function: $animation-duration / 3;

@keyframes menu-loader {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}


.main-container {
    @include flex-column;
    &__img {
        width: 100%;
        object-fit: cover;
        height: 275px;
        position: relative;
        @include media-query-size(tablet) {
            object-position: 50% 70%;
            height: 320px;
        }
        @include media-query-size(desktop) {
            object-position: 50% 70%;
            height: 380px;
        }
    }
}

.background-container {
    @include flex-column;
    width: 100%;
    position: relative;
    margin-top: -55px;
    max-width: 470px;
    background-color: $bg-color-grey;
    border-radius: 40px 40px 0 0;
    padding: 32px 13px 40px 13px;
    gap: 40px;
    align-self: center;
    box-sizing: border-box;
    @include media-query-size(tablet) {
        max-width: 768px;
        width: 80%;
    }
    @include media-query-size(desktop) {
        max-width: 1055px;
    }
}

.header {
    @include flex-row;
    padding: 14px 0 13px 17px;
    &__logo {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.intro {
    @include flex-row;
    padding: 0 17px;
    @include media-query-size(tablet) {
        justify-content: center;
    }
    &__container {
        &--title {
            @include title-h1-shrikhand
        }
        @include flex-row;
        align-items: center;
        width: 100%;
        border-radius: 40px 40px 0 0;
        justify-content: space-between;
        @include media-query-size(tablet) {
            justify-content: center;
            gap: 24px;
        }
    }
}

.menu-section {
    @include flex-column;
    gap: 12px;
    animation: menu-loader $animation-duration backwards;
    @for $i from 1 through 3 {
        &--#{$i} {
            animation-delay: $delay-function * $i;
        }
    }
    &__title {
        @include weight-size($font-weight-300, 16px);
        &::after {
            content: "";
            display: block;
            width: 40px;
            border-bottom: 3px solid $badge-color;
            margin-top: 8px;
        }
    }
    .card {
        padding: 15px;
        position: relative;
        border-radius: 15px;
        @include flex-row;
        justify-content: space-between;
        align-items: flex-end;
        background-color: $main-bg-color;
        overflow: hidden;
        &__text {
            white-space: nowrap;
            overflow: hidden;
            @include flex-column;
            gap: 5px;
            &--title {
                @include weight-size($font-weight-500, $font-size-18px);
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &--text {
                @include weight-size($font-weight-300, $font-size-15px);
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        &__price {
            font-size: $font-size-15px;
            transition: transform 280ms ease-in-out,margin-right 280ms ease-in-out;
        }
        &__checkbox {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            opacity: 0;
            &:checked + .card__select {
                transform: translateX(0);
                & + .card__price {
                    margin-right: 50px;
                }
            }
            @include media-query-size(desktop) {
                &:hover + .card__select {
                    transform: translateX(0);
                    & + .card__price {
                        margin-right: 50px;
                    }
                }
                &:not(:hover) + .card__select {
                    transform: translateX(100%);
                    & + .card__price {
                        margin-right: 0;
                    }
                }
            }
        }
        &__select {
            @include flex-row;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            justify-content: center;
            align-items: center;
            height: 73.5px;
            width: 59px;
            transform: translateX(100%);
            border-radius: 0 14px 14px 0;
            background-color: $badge-color;
            transform-origin: 100%;
            transition: transform 280ms ease-in-out;
            .fa-check {
                border-radius: 10px;
                padding: 2px;
                color: $badge-color;
                background-color: white;
                white-space: nowrap; /*  */
                overflow: hidden;
            }
        }
    }
}

.btn-container {
    @include flex-row;
    justify-content: center;
    &__order {
        @include btn-explorer-command(186px, 50px);
    }
}