* {
  font-family: 'roboto', sans-serif;
  margin: 0; }

/* font */
/* color */
/* font-size */
/* Mixin */
a {
  text-decoration: none;
  color: inherit; }

body {
  display: flex;
  justify-content: center; }

.main-container {
  max-width: 1440px;
  box-sizing: border-box;
  width: 100%; }

.header {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header__logo {
    width: 200px;
    padding: 14px 0; }
  .header__location {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 17px;
    background-color: #EAEAEA;
    padding: 15px 0; }

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
  background-color: #353535;
  color: #FFFFFF;
  width: 100%;
  box-sizing: border-box; }
  @media screen and (min-width: 768px) {
    .footer {
      flex-direction: row-reverse;
      align-items: end;
      padding: 56px 60px 30px 25px; } }
  .footer__title {
    font-size: 28px;
    font-family: "shrikhand", serif;
    font-size: 18px; }
  .footer__content {
    display: flex;
    flex-direction: column;
    gap: 7px; }
    @media screen and (min-width: 768px) {
      .footer__content {
        flex-direction: row; } }

.btn-heart {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .btn-heart__checkbox {
    position: relative;
    z-index: 1;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 18px; }
    .btn-heart__checkbox:checked + .btn-heart__container .btn-heart__container--first {
      opacity: 0; }
    .btn-heart__checkbox:checked + .btn-heart__container .btn-heart__container--second {
      opacity: 1; }
  .btn-heart__container .fa-heart {
    font-size: 22px; }
  .btn-heart__container--first {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 100ms; }
  .btn-heart__container--second {
    position: relative;
    /*  */
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 1000ms cubic-bezier(0.03, 0.99, 1, 0.58);
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: -26px; }

.main-container {
  display: flex;
  flex-direction: column; }
  .main-container__img {
    width: 100%;
    object-fit: cover;
    height: 275px;
    position: relative; }
    @media screen and (min-width: 1024px) {
      .main-container__img {
        object-position: 50% 70%;
        height: 380px; } }

.background-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-top: -55px;
  max-width: 470px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  padding: 32px 13px 40px 13px;
  gap: 40px;
  align-self: center;
  box-sizing: border-box; }
  @media screen and (min-width: 1024px) {
    .background-container {
      max-width: 1055px; } }

.header {
  display: flex;
  flex-direction: row;
  padding: 14px 0 13px 17px; }
  .header__logo {
    padding: 0;
    margin-left: auto;
    margin-right: auto; }

.intro {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 17px; }
  .intro__container {
    display: flex;
    flex-direction: row;
    border-radius: 40px 40px 0 0;
    justify-content: space-between; }

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 12px; }
  .menu-section .card {
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #FFFFFF; }

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .btn-container__order {
    width: 186px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 13px 18px;
    background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%); }
    .btn-container__order:hover {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35); }

/*# sourceMappingURL=page_menu.css.map */
